.commerical-section {
    width: 100%;
    height: 90vh;
    background-image: url("/images/banner.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    article {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 40px;
        h1 {
            color: #75C5CF;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 5px;
            font-size: 65px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: -10px;
                left: 0;
                background-color: #75C5CF;
                border-radius: 100%;
            }
        }
        .text-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            p {
            max-width: 600px;
            color: #fff;
            font-family: Roboto Flex, sans-serif;
            font-size: 20px;
            }
            button {
                font-size: 14px;
                padding: 13px 38px;
                font-weight: 700;
                background: transparent;
                border: none;
                border: 1px solid #fff;
                border-radius: 18px;
                color: #fff;
                font-family: Rancho, cursive;
                letter-spacing: 2px;
                cursor: pointer;
                &:hover {
                    box-shadow: 0px 0px 10px 0px #75C5CF;
                    background-color: #75C5CF;
                    color: #fff;
                    transition: .3s;
                }
            }
        }
    }
}

.section-split {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 13px;
        left: 0;
        background-color: #5E5E5E;
        border-radius: 100%;
    }
        h2 {
        font-family: Poppins, sans-serif;
        font-size: 24px;
        color: #5E5E5E;
        background-color: #fff;
        position: relative;
        z-index: 10;
        display: inline-block;
        margin: 0 auto 80px;
        padding: 0px 15px;
    }
}

.rooms-section {
    margin-top: 30px;
    .guest-favorites {
        swiper-container {
            swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .room-card {
                    height: 300px;
                    width: 360px;
                    border-radius: 15px;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                    position: relative;
                    overflow: hidden;
                    .price {
                        position: absolute;
                        background-color: #75C5CF;
                        padding: 5px 20px;
                        right: 0;
                        bottom: 30%;
                        z-index: 3;
                        color: #fff;
                        border-top-left-radius: 15px;
                    }
                    .avaiable {
                        position: absolute;
                        transform: rotate(-39deg);
                        padding: 5px 20px;
                        left: -25px;
                        top: 10px;
                        z-index: 3;
                        color: #fff;
                    }
                    .image-container {
                        width: 100%;
                        height: 70%;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform 0.3s ease;
                            cursor: pointer;
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .room-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-inline: 10px;
                        height: 15%;
                        h3 {
                            font-family: 'Poppins', sans-serif;
                            font-size: 18px;
                            color: #333;
                        }
                        .different-bg {
                            background-color: #ECECEC;
                            color: #000;
                            padding: 5px 10px;
                            border-radius: 8px;
                            font-family: 'Poppins', sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                    button {
                        width: 100%;
                        height: 15%;
                        display: block;
                        padding: 8px 0;
                        background-color: #75C5CF;
                        border: none;
                        color: #fff;
                        font-family: 'Poppins', sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        &:hover {
                            background-color: #5aa8b1;
                        }
                    }
                }
            }
        }
    }
}

.benefits {
    margin: 80px auto;
    .usp-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        max-width: 1100px;
        margin: 0 auto;
        text-align: center;
        .usp-card-icon {
            width: 80px;
            height: 80px;
            margin: 0 auto 1rem;
            border: 2px solid #75C5CF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            color: #75C5CF;
            transition: 0.3s ease;
            cursor: pointer;
            &:hover {
                background-color: #75c5cf;
                color: #fff;
                animation: uspShaking 1s;
            }
        }
        h3 {
            font-size: 20px;
            font-weight: 700;
            color: #333;
            margin-bottom: .5rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        }
        p {
            font-size: 17px;
            color: #555;
            margin-bottom: 1rem;
            line-height: 1.5;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        }
    }
}

.about-us {
    margin-bottom: 70px;
    .about-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .left-side {
            width: 50%;
            border-left: 2px solid #5E5E5E;
            padding-left: 40px;
            h4 {
                font-size: 24px;
                letter-spacing: 1px;
                font-weight: 700;
                width: 301px;
                line-height: 40px;
                padding-bottom: 70px;
                font-family: Roboto Flex, sans-serif;
                position: relative;
                display: flex;
                flex-direction: column;
                span {
                    font-size: 16px;
                    color: #5E5E5E;
                    width: 12ch;
                    animation: Typing 3s infinite alternate-reverse;
                    text-wrap: nowrap;
                    overflow: hidden;
                }
                &::before {
                   position: absolute;
                   content: "";
                   left: -43px;
                   top: -10px;
                   height: 100%;
                   width: 5px;
                   background-color: #75C5CF;
                   border-radius: 80%;
                   z-index: 2;
                }
            }
            article {
                max-width: 450px;
                display: flex;
                flex-direction: column;
                font-family: 'Poppins', sans-serif;
                gap: 30px;
                p {
                    letter-spacing: 1px;
                    line-height: 20px;
                }
            }
        }
        .image-container {
            position: relative;
            img {
                max-width: 400px;
                height: 616px;
                border-radius: 18px;
                object-fit: cover;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    filter: brightness(45%) blur(1px);
                    + article {
                        opacity: 1;
                        scale: 1;
                    }
                }
            }
            article {
                position: absolute;
                top: 45%;
                left: 30%;
                text-align: center;
                color: #fff;
                display: flex;
                flex-direction: column;
                gap: 10px;
                pointer-events: none;
                opacity: 0;
                scale: 0;
                transition: 0.5s;
                h5 {
                    font-size: 25px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px){
    .section-split {
        max-width: 90%;
    }
}

@media screen and (max-width: 1130px){
    .about-content {
        flex-direction: column-reverse;
        .left-side {
            margin-top: 15px;
            width: 100% !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none !important;
            padding-left: unset !important;
            h4 {
                text-align: center;
                span {
                    display: none;
                }
                &::before{
                    height: 0 !important;
                    width: 0 !important;
                }
            }
            article {
                max-width: unset !important;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1080px){
    .usp-section {
        flex-wrap: wrap;
        .usp-card {
            max-width: 310px;
        }
    }
}

@media screen and (max-width: 650px){
    .commerical-section {
        article {
            padding-inline: 20px;
            h1 {
                font-size: 40px !important;
            }
            p {
                font-size: 17px !important;
                line-height: 30px;
            }
        }
    }

    .about-content {
        .image-container {
            img { 
                max-width: 300px !important;
            }
        }
    }
}