* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Animations 
@keyframes uspShaking {
    0% {
    transform: rotate(0);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes Typing {
    from {
        width: 0ch;
    }
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(500px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(500px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromBack {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}